<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>Welcome to User ShowCase</h1>

    <h2>Number of users:<%= count %> </h2>
    <form method="post" action="/user">
    <button>Get User list</button>
    </form>
</body>
</html>