<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User Form</title>
    <style>
        input{
            padding: 10px;
            border-radius: 5px;
            width: 500px;
        }
        textarea{
            padding: 10px;
            width: 600px;
        }
        button{
            padding: 10px 20px;
            background-color: aquamarine;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <form method="post" action="/new">
        <h2>User Name:</h2>
        <input name="name" type="text"><br><br>
        <h2>Email:</h2>
        <textarea name="email" type="text"></textarea><br><br>
        <h2>Password:</h2>
        <input name="password" type="password"><br><br>
        <button type="submit">Submit </button>
        <button type="reset"> Reset</button>
    </form>
</body>
</html>