<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      input {
        height: 30px;
        width: 50%;
      }
    </style>
  </head>
  <body>
    <%= errorMsg %>
    <h1>Sign-up</h1>
    <form action="/signup" method="post">
      <h4>UserName:</h4>
      <input name="username" id="username" type="text" required />
      <h4>Email:</h4>
      <input name="email" id="email" type="text" required />
      <h4>Password:</h4>
      <input name="password" id="password" type="password" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
