*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(155, 155, 155);
    overflow-x: hidden;
}

.chat-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chats{
    margin: 20px;
    gap: 10px;
    background-color: aquamarine;
    padding: 10px;
    width: 30%;
}

.details{
    display: flex;
    justify-content: space-around;
}

.message{
    background-color: rgb(184, 255, 231);
    padding: 5px;
    border-radius: 10px;
}

.send{
    background-color: rgb(48, 48, 48);
    width: 100vw;
    height: auto;
    margin-bottom: 0px;
    padding: 20px;
    z-index: 1;
    position: sticky;
    bottom: 0;
}

.sendmsg{
    height: 30px;
    width: 50%;
    border-radius: 5px;
}

.detailInput{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.detailInput input{
    height: 10px;
    padding: 5px;
}

.detailInput p{
    color: antiquewhite;
}

.sending{
    display: flex;
    justify-content: center;
}

button{
    width: 60px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
