<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PROJECTS</h1>
    <ol>
        <li><h3>Spotify Clone</h3></li>
            <h4>Tech-Stack</h4>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JS</li>
            </ul>
        <li><h3>Google-Drive Clone</h3></li>
            <h4>Tech-Stack</h4>
            <ul>
                <li>JS</li>
                <li>Node.js</li>
                <li>Express.js</li>
            </ul>
        <li><h3>AI Power for Farming</h3></li>
            <h4>Tech-Stack</h4>
            <ul>
            <li>Python</li>
            <li>ok</li>
            <li>Hugging-face</li>
            </ul>
    </ol>
</body>
</html>