<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <div class="chat-blocks">
        <h1>Chat Edit</h1>
            <div class="chats">
                <div class="details">
                    <p>From:<%= chat.from %></p>
                    <p>To:<%= chat.to %></p>
                </div>
                <form method="post" action="/chat/<%= chat._id %>/edit?_method=PATCH">
                <div class="message"><textarea text="text" rows="4" cols="50" name="msg"><%= chat.msg %></textarea></div>
                <button type="submit">Submit</button>
                </form>
                </div>
            </div>
</body>
</html>